<DOCTYPE html>
<html ng-app="simplexApp">
  <head>
    <meta charset="utf-8">
    <title>Лабораторная работа №2. Симплекс-метод</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script async src="js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/SimplexApp.js"></script>
  </head>
  <body>
    <h1>Лабораторная работа №2. Симплекс-метод</h1>
    <div ng-controller="SimplexController">
      Количество переменных: <input ng-model="varCount" ng-change="invalidateVarCount()">
      <br><br>
      Целевая функция: F =
      <div class="nowrap" ng-repeat="v in tFunction.varKeys()">
        <input ng-model="tFunction.variables[v]" width=5><span mathjax-bind="v"></span>
      </div> ->
      <select ng-model="tFunction.type">
        <option value="min">min</option>
        <option value="max">max</option>
      </select>
      <br><br>
      Ограничения:
      <div ng-repeat="res in restrictions" ng-init="resInd = $index">
        <div class="nowrap" ng-repeat="v in keys(restrictions[resInd].variables)">

          <input ng-model="res.variables[v]" width=5><span mathjax-bind="v"></span>
        </div>
        <select ng-model="res.type">
          <option value=">=">>=</option>
          <option value="=">=</option>
          <option value="<="><=</option>
        </select>
        <input ng-model="res.constant">
      </div>
      Все х >= 0: <input type="checkbox" ng-model="allAboveZero">

      <button ng-click="calculate()">Рассчитать</button>

      <div ng-show="calculated">
        <h1>Blb</h1>
        {{canonical.tFunction.varKeys()}}
        <h2>Начальные условия: </h2>
          <h4>Целевая функция:</h4> F =
          <div class="nowrap" ng-repeat="v in tFunction.varKeys()"
           mathjax-bind="($index != 0 ? (tFunction.variables[v] >= 0 ? '+' : '') : '') + tFunction.variables[v] + v">
          </div> -> {{" " + tFunction.type}}
          <h4>Ограничения:</h4>
          <div ng-repeat="res in restrictions" ng-init="resInd = $index">
            <div class="nowrap" ng-repeat="v in keys(restrictions[resInd].variables)"
            mathjax-bind="($index != 0 ? (res.variables[v] >= 0 ? '+' : '') : '') + res.variables[v] + v">
          </div> <span mathjax-bind="res.type + res.constant"></span>
          </div>
          <div ng-show="allAboveZero" mathjax-bind="'x_i >= 0,  i = 1..n'">
          </div>
        <h2>Канонический вид: </h2>
          <h4>Целевая функция:</h4> F =
          <div class="nowrap" ng-repeat="v in canonical.tFunction.varKeys()"
           mathjax-bind="($index != 0 ? (canonical.tFunction.variables[v] >= 0 ? '+' : '') : '') + canonical.tFunction.variables[v] + v">
         </div> -> {{" " + canonical.tFunction.type}}
          <h4>Ограничения:</h4>
          <div ng-repeat="res in canonical.restrictions" ng-init="resInd = $index">
            <div class="nowrap" ng-repeat="v in keys(canonical.restrictions[resInd].variables)"
            mathjax-bind="($index != 0 ? (res.variables[v] >= 0 ? '+' : '') : '') + res.variables[v] + v">
          </div> <span mathjax-bind="res.type + res.constant"></span>
          </div>
          <div ng-show="allAboveZero" mathjax-bind="'x_i >= 0,  i = 1..n'">
          </div>

          <h2>Симплекс-таблицы</h2>
          <div>
            {{tables[0].estimation.real}}
            <table border="1" cellpadding="5" ng-repeat="t in tables">
              <tr>
                <th rowspan="2" mathjax-bind="'i'"></th>
                <th rowspan="2">базис</th>
                <th rowspan="2" mathjax-bind="'C_T'"></th>
                <th rowspan="2" mathjax-bind="'A_0'"></th>
                <th ng-repeat="a in keys(t.basis.vectors)" mathjax-bind="t.basis.functionValues[a] ? t.basis.functionValues[a] : '0'"></th>
                <th ng-repeat="a in keys(t.basis.artBasis)" mathjax-bind="'-M'"></th>
              </tr>
              <tr>
                <th ng-repeat="a in keys(t.basis.vectors)" mathjax-bind="(a ? a : 0)"></th>
                <th ng-repeat="a in keys(t.basis.artBasis)" mathjax-bind="(a ? a : 0)"></th>
              </tr>
              <tr ng-repeat="b in t.basis.basis" ng-init="i = $index">
                <td mathjax-bind="$index + 1"></td>
                <td mathjax-bind="b"></td>
                <td mathjax-bind="t.basis.isArtificial(b) ? '-M' : (t.basis.functionValues[b] ? t.basis.functionValues[b] : '0')"></td>
                <td mathjax-bind="t.basis.A0[$index]"></td>
                <td ng-repeat="a in keys(t.basis.vectors)" mathjax-bind="number(t.basis.vectors[a][i])"></td>
                <td ng-repeat="a in keys(t.basis.artBasis)" mathjax-bind="number(t.basis.artBasis[a][i])"></td>
              </tr>
              <tr>
                <td mathjax-bind="'m + 1'"></td>
                <td colspan="2" ng-if="t.basis.hasArtificial()" mathjax-bind="'\\Delta j'"></td>
                <td colspan="2" rowspan="2" ng-if="!t.basis.hasArtificial()" mathjax-bind="'\\Delta j'"></td>
                <td ng-repeat="a in keys(t.estimation.real)" mathjax-bind="a + ': ' + number(t.estimation.real[a])"></td>
              </tr>
              <tr ng-if="t.basis.hasArtificial()">
                <td mathjax-bind="'m + 2'"></td>
                <td ng-repeat="a in keys(t.estimation.artificial)" mathjax-bind="a + ': ' + number(t.estimation.artificial[a])"></td>
              </tr>
            </table>
          </div>
      </div>
    </div>
  </body>
</html>
